@font-face{
    font-family: 'monsereg';
    src: url('/fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face{
    font-family: 'monsebold';
    src: url('/fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face{
    font-family: 'dance';
    font-weight: 600;
    src: url('/fonts/dancing-script/DancingScript-Regular.ttf');
}