*{
    font-family: 'play' !important;
}

.header{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}


.title{
    background-color: red;
}

.tt{
    font-family: 'monsereg' !important;
    font-size: 30px;
}

.header-menu{
    background-color: blue;
}

.user-area{
    background-color: violet;
}

.hamburger{
    display: none;
}


@media only screen and (max-width: 992px){
    .header-menu{
        display: none;
    }

    .hamburger{
        display: block;
        background-color: aqua;
    }

    .header{
        width: 100% !important;
    }
}

@media only screen and (max-width: 576px){

    .user-area{
        display: none;
    }
}